.signIn input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.signIn input:-webkit-autofill:focus {
  background-color: transparent !important;
}
