.custom-radio {
  -webkit-appearance: none; /* Remove default radio button style */
  -moz-appearance: none;
  appearance: none;
  width: 16px; /* Outer circle size */
  height: 16px;
  border-radius: 50%; /* Make the outer circle */
  border: 2px solid #767772; /* Gold border */
  background-color: white;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.custom-radio:checked {
  background-color: #b49d17; /* Gold background when selected */
}

/* Inner dot when checked */
.custom-radio:checked::before {
  content: "";
  position: absolute;
  top: 5px; /* Adjust to center the inner dot vertically */
  left: 5px; /* Adjust to center the inner dot horizontally */
  width: 10px; /* Inner dot size */
  height: 10px;
  border-radius: 50%; /* Dot shape */
  background-color: white; /* Inner dot color */
  transition: all 0.2s ease-in-out;
}

/* Optional: Hover effect */
.custom-radio:hover {
  border-color: #f4a261; /* Lighter border color on hover */
}
@media (max-width: 640px) {
  .custom-radio {
    width: 16px; /* Even smaller outer circle size */
    height: 16px;
    border-radius: 50%;
  }
}
