@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  font-weight: 300;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}
